.git
.github
.vscode
target
build
.gradle
Dockerfile*
.dockerignore
*.jar
*.tmp
*.swp
.DS_Store
Thumbs.db

.env
/secrets/cloudflare-tunnel-token.txt
*.log
*.class
*.iml

application-local.yml
src/main/resources/application-local.yml
