TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_BOT_TOKEN=your_bot_token

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/daily_report_bot
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

APP_REPORT_TIME_ZONE=Asia/Ho_Chi_Minh
